doctype html
html
    head
        title Pencilbox.io
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")

        link(href='stylesheets/impressum.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Lobster+Two', rel='stylesheet',type='text/css')
    body
        .container
            div
                h3(style="color: white") Geoblogging Platform
                h4(style="color: white") Dmitry Varlamov <br> Drygalski Allee 118 <br>81477 München <br> E-Mail: varlamov.dimitry@gmail.com <br> Tel: +49 1515 2424 36
