doctype html

html
    head
        title= title

        link(href='flat/css/vendor/bootstrap.min.css', rel='stylesheet')
        link(href='flat/css/flat-ui-pro.css', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/login.css')


        script(src='flat/js/vendor/jquery.min.js')
        script(src='flat/js/flat-ui-pro.js')
        script(src='flat/js/application.js')
        script(src="flat/js/application.js")

        script(src='/javascripts/spin.js')
        script(src='/javascripts/global.js')

        script(src='javascripts/login.js')
        

        body


        .container
            div(class=("#{status=='1'||status=='2'||status=='4'||status=='6'||status=='7'||status=='9'?'jumbotron jumbotron-danger':(status=='3'||status=='5'||status=='8'?'jumbotron jumbotron-success':'')}"), status=status, id="statusbar")
                p(class="whiteColor")=message

            div.jumbotron
                div(class="social")
                    div(class="loginHolder")
                        p Mit Social Account Dich anmelden
                    form(action="/auth/facebook",method="get")
                      input(type="submit", id="facebook", class="btn btn-social-facebook", value="Facebook")
                    form(action="/auth/twitter",method="get")
                      input(type="submit", id="twitter", class="btn btn-social-twitter", value="Twitter")
                    form(action="/auth/google",method="get")
                      input(type="submit", id="google", class="btn btn-danger", value="Google+")
 



