html {
  height: 100%;
}
body {
  height: 100%;
  padding-bottom: 200px;
  background-image: url("../images/11/P1170713.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.login {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 980px;
  margin-left: -250px;
  border-radius: 5px;
  border: 1px solid #92bce5;
}
.loginHolder {
  position: absolute;
  width: 350px;
  top: 80px;
  left: 80px;
}
.loginHolder p {
  color: #ececf0;
  font-size: 30px;
}
.login #email {
  position: absolute;
  width: 280px;
  top: 200px;
  left: 100px;
}
.login #password {
  position: absolute;
  width: 280px;
  top: 250px;
  left: 100px;
}
.account #email {
  position: absolute;
  width: 280px;
  top: 200px;
  left: 100px;
}
.account #username {
  position: absolute;
  width: 280px;
  top: 250px;
  left: 100px;
}
.account #password {
  position: absolute;
  width: 280px;
  top: 300px;
  left: 100px;
}
#anmelden {
  position: absolute;
  width: 350px;
  top: 370px;
  left: 100px;
  width: 280px;
  float: left;
}
.account {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 1800px;
  margin-left: -250px;
  border-radius: 5px;
  border: 1px solid #92bce5;
}
.loginHR {
  position: absolute;
  top: 800px;
  border: 0px solid #f3f7f9;
  width: 100%;
}
.accountHR {
  position: absolute;
  top: 1640px;
  border: 0px solid #f3f7f9;
  width: 100%;
}
.newAccount {
  position: absolute;
  width: 350px;
  top: 700px;
  left: 60%;
}
.newSocial {
  position: absolute;
  width: 350px;
  top: 1520px;
  left: 60%;
}
.newAccount a {
  color: #fff;
}
.newSocial a {
  color: #ececf0;
}
.newAccount a:hover {
  color: #92bce5;
}
.newSocial a:hover {
  color: #92bce5;
}
.break {
  position: absolute;
  height: 110px;
  top: 2520px;
  clear: both;
}
#redirect {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 17px;
  margin-left: 197px;
}
.dialog {
  position: fixed;
  width: 100%;
  opacity: 0.7;
  border-top: 0px;
  padding: 12px 0 10px;
  z-index: 1;
}
.whiteColor {
  color: #26ade4;
  font-size: 28px;
}
.social {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
  top: 160px;
  margin-left: -250px;
  border-radius: 5px;
  border: 1px solid #92bce5;
  z-index: 0;
}
.social #facebook {
  color: #fff !important;
  position: absolute;
  width: 280px;
  top: 200px;
  left: 100px;
}
.social #twitter {
  color: #fff !important;
  position: absolute;
  width: 280px;
  top: 250px;
  left: 100px;
}
.social #google {
  color: #fff !important;
  position: absolute;
  width: 280px;
  top: 300px;
  left: 100px;
}
