body
  //background-image : url("/stylesheets/kork03.jpg")
  //background-repeat:repeat;

.ui-slider
  background : #ffffff
.pb-bradius-0px
  border-radius : 0px

@media (min-width: 768px) {
  .navbar-form .input-group {
    width: 295px;
  }
}
@media (min-width: 960px) {
  .navbar-form .input-group {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .navbar-form .input-group {
    width: 495px;
  }
}

.pac-container
  border-radius : 6px
  border-top : 0px
  border : 2px solid #1abc9c
  box-shadow: 0px 0px 0px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  margin-top : 5px

.pac-item-selected, .pac-item:hover
 color: #ffffff
 background-color:#1abc9c
.pac-item
 border : 0px
 height : 30px

.bottom-menu
  margin-top : 25px

.thumbnail
  border : 0px

*, *:before, *:after {
  box-sizing: border-box !important;
}

.grid .row {
  -moz-column-width: 18em;
  -webkit-column-width: 15em;
  -moz-column-gap: 0.5em;
  -webkit-column-gap: 0.7em;
  margin-right : 0px;
  margin-left : 0px;
}

.grid .row> .item {
  display: inline-block;
  padding: .25rem;
  width: 100%;
  margin-bottom : -10px;
}

.well {
  position: relative;
  display: block;
  border : 0px;
  -webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.05);
  box-shadow:inset 0 0px 0px rgba(0,0,0,.05);
}

img
  width : 100%;
  height : auto;
  border-radius-topleft : 4px

.circle {
  width: 18px;
  height: 18px;
  background: red;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-color : #16a085;
  transition: background .25s;
  float: left;
  margin-left : 7px;
}
.circle:hover,.circle:focus {
  background-color: #48c9b0;
  outline: none;
}
.circle.invert
  background-color : #ffffff;

.circle.invert:hover
  background-color : #16a085;
  transition: background .25s;

.circle.invert:focus
  background-color : #16a085;
  transition: background .25s;

.inner
  width: 100px;
  margin: 0 auto;
h5
  font-size : 0.8em

.float-left
  float: left;
  margin-right:5px
  font-size:12px
  cursor: grab

.margin-top-35px
  margin-top : 35px !important

p
  font-size : 0.98em

.fui-bubble :before
  margin-left : 15px
  margin-right : 5px


.fui-star-2:before
  margin-right : 5px

.well-top
   margin-bottom : 0px
   border-bottom-right-radius : 0px
   border-bottom-left-radius : 0px
   padding : 0px
   height: 50px
   padding-left : 20px
   padding-top : 16px

.well-top p
  font-size : 12px

.well-bottom
  border-top-right-radius : 0px
  border-top-left-radius : 0px


.jumbotron
  margin-bottom : 15px


.navbar-collapse
 // background-image : url("/stylesheets/icons-orange.jpg")
// background-repeat: repeat;

.display-none
  display : none !important

.display-block
  display : block !important

.navbar-inverse .navbar-form .input-group.focus .form-control, .navbar-inverse .navbar-form .input-group.focus .input-group-btn .btn, .navbar-inverse .navbar-form .input-group.focus .select2-search input[type="text"] {
  //border-color: #c3deff !important;
  color: white !important;
}

.slideImg
  cursor: grab

.ui-slider
  background : white

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus
  //color: #C3DEFF;
  background-color: transparent;

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
  //color: #C3DEFF;
  background-color: transparent;

.imageWrapper
  opacity : 1

.opct03
  opacity : 0.7

.jumbotron
 overflow : auto

.flat-right
  float : right

.flat-left
  float : left
  margin-right:10px
  margin-bottom:0px !important
  color:#3498DB;

.imgMuster
  position: relative; top: 0; left: 0

.imgSlave
  position: absolute; top: 0px; left: 0px; display:none

.starred
  color: blueviolet

.alert
  margin-bottom : 12px

.alert .alert-link
  margin-left: 5px;

.alert .alert-link:hover
  margin-left: 10px;

.change
  z-index : 1
  position : absolute
  width :200px
  height :200px
  background-color #aeb6bf
  opacity :0.8
  
.margin-5px
   margin :5px
   float :right
  
.deleteModal
  font-size:12px
  margin-right: 15px
  cursor:grab
  float: right



